<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/gallery_search.css}">
    <link rel="Website icon" type="png" th:href="@{/image/gel.png}">
    <link rel="stylesheet" th:href="@{https://unicons.iconscout.com/release/v4.0.8/css/line.css}">
    <script th:src="@{javascript/gallery_search.js}" defer></script>
    <title>Gallery : Search engine</title>
</head>

<body>
    <div class="lightbox">
        <div class="wrapper">
            <header>
                <div class="photo">
                    <i class="uil uil-camera">
                        <span></span>
                    </i>
                </div>
                <div class="buttons">
                    <i class="uil uil-import"></i>
                    <i class="uil uil-times"></i>
                </div>
            </header>
            <div class="preview-img">
                <div class="img"><img src="" alt="preview-img"></div>
            </div>
        </div>
    </div>
    <section class="search">
        <img th:src="@{image/back.jpg}" alt="search-img">
        <div class="content">
            <h1>Search Images</h1>
            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search images">
            </div>
        </div>
    </section>
    <section class="gallery">
        <ul class="images">
        </ul>
        <button class="load-more">Load More</button>
    </section>
</body>

</html>